.swiper {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    margin-top: 2.5rem;
    padding-inline: 5rem;
}

.swiperSlide {
    text-align: center;
    font-size: 18px;
    background: var(--background);

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSlideImage {
    display: block;
    width: auto;
    height: 75vh;
    /* object-fit: cover; */
}

.swiper-navigation-icon {
    path {
        fill: var(--foreground) !important;
    }
}

@media screen and (max-width: 800px) {
    .swiper {
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        margin-top: 1rem;
        padding-inline: 2rem;
    }

    .swiperSlide {
        text-align: center;
        font-size: 18px;
        background: var(--background);

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiperSlideImage {
        display: block;
        width: auto;
        height: 85vh;
        /* object-fit: cover; */
    }
}
